<div class="section main-section">
  <div class="section-content grid-container grid-1-1" style="margin-top: 0; padding: 0;">
    <div style="display: flex; align-items: center;">
      <div class="mobile-padding">
        <h1 ><span class="orange-text">OpenWeather</span><br>mobile app</h1>
        <p>A scientific yet simple approach to weather forecast. Free.&nbsp;No&nbsp;ads.</p>

        <div class="main-section-desktop">
          <a style="margin-left: -10px;" href="https://apps.apple.com/gb/app/openweather/id1535923697" target="_blank" onclick="ga('send', 'event', 'app', 'click', 'appleBannerStatic');">
            <img alt='Download on App Store' style="height:60px; padding:10px;" src="/themes/openweathermap/assets/img/mobile_app/Download_on_the_App_Store_Badge_US-UK.svg" />
          </a>

          <a href="https://play.google.com/store/apps/details?id=uk.co.openweather" target="_blank" onclick="ga('send', 'event', 'app', 'click', 'androidBannerStatic');">
            <img style="height:60px;" alt='Get it on Google Play' src="/themes/openweathermap/assets/img/mobile_app/google-play-badge.png"/>
          </a>
        </div>
      </div>
    </div>
    <div class="desktop-only" style="text-align: right;">
      <img style="width: 350px; height: auto;" src="/themes/openweathermap/assets/img/mobile_app/mobile-app-banner.jpg" />
    </div>
  </div>
</div>

<div id="weather-widget"></div>

<div class="section grey-background" style="min-height: 130px;">
  <div class="section-content mobile-padding" style="position: relative; min-height: 60px;">
    <div class="logos">
      <img src="/themes/openweathermap/assets/img/owm-clients-logos.png">
    </div>
    <div class="logos logos2">
      <img src="/themes/openweathermap/assets/img/owm-clients-logos.png">
    </div>
  </div>
</div>
