.plant {
    margin: 15px;
    padding: 20px;
    cursor: pointer;
    background: #f4f4f4;
  }
  
  .plant h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .plantImage {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

.photo {
  height: 150px;
  width: 150px;
  border-radius:75px;
  margin: 15px;
}