<div id="map-wrapper">
    <!-- [iconUrl]="iconUrl" -->
    <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom" [mapTypeId]="'satellite'" [fitBounds]="true">
        <agm-marker *ngFor="let marker of plants" [latitude]="marker.sensor!.latitude" [longitude]="marker.sensor!.longitude" [agmFitBounds]="true">
        <agm-info-window>
            <strong>
                name: {{marker.name}} 
                sensorId: {{marker.sensor.sensorId}}
                <!-- Hummidity: {{}} -->
            </strong>
          </agm-info-window>
    </agm-marker>
    </agm-map>
</div>