header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


/* div {
    display: flex;
    justify-content: center;
    position: relative;
}
  
h1 {
    text-align: left;
}
  
button {
    position: absolute;
    right: 0;
} */

.container {
    max-width: 900px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    padding: 30px;
    border-radius: 5px
  }