<form *ngIf="showAddPlant" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Plant name</label>
        <input type="text" name="name" [(ngModel)]="name" id="text" placeholder="Enter Name"/>
    </div>
    <div class="form-control">
        <label for="text">Sensor id</label>
        <input type="text" name="sensorid" [(ngModel)]="sensorid" id="text" placeholder="Enter Sensor id"/>
    </div>
    <div class="form-control">
        <label for="text">Plant image</label>
        <input type="file" name="photo" [(ngModel)]="photo" (change)="onFileSelected($event)"/>
    </div>
    <div class="form-control" id="map-wrapper">
        <div class="map-view" id="map"></div>
    </div>
    <input type="submit" value="Save Plant" class="btn btn-block"/>
</form>